<ion-view view-title="Browse">
  <ion-content>

    <div style="">
    <!--div class="item item-image">
      <img src="cover.jpg">
    </div-->

      <div style="margin-bottom: 20px">

      <ks-swiper-container initial-slide="3" speed="2000" loop="true" show-nav-buttons="false" slides-per-view="1" space-between="0"
                           pagination-clickable="false"     pagination-is-active="true"     autoplay="5000"
                           override-parameters="{effect: 'slide',coverflow: {rotate: 50,stretch: 0,depth: 100,modifier: 1,slideShadows : false}}"
                           swiper="swiper" on-ready="onReadySwiper(swiper)">
        <ks-swiper-slide class="">
          <img ng-src="img/Avid-logo.jpg" width="100%" >
        </ks-swiper-slide>
        <ks-swiper-slide class="">
          <img ng-src="img/Autodesk-logo-and-wordmark.png" width="100%" >
        </ks-swiper-slide>
        <ks-swiper-slide class="">
          <img ng-src="img/Ableton.svg.png" width="100%" >
        </ks-swiper-slide>

      </ks-swiper-container>
      </div>


      <div><h3 style="margin-left:20px;display:inline;">Recommended</h3>
      </div>

    <ion-scroll delegate-handle="horizontal" horizontal-scroll-fix="mainScroll" direction="x" class="wide-as-needed" scrollbar-x="false" style="padding-left:20px;    padding-top: 10px;">
      <div style=" padding-bottom: 20px">
      <div style="display:inline-block;margin-right:20px;width:90px;vertical-align: top;" ng-repeat="app in row1_apps" >
        <img ng-src="img/{{app.id}}.png" width="100%" style="border-radius: 10px;width:90px;margin-top:10px;margin-bottom: 5px;">
        <span style="display:block;
    width: 90px;
    overflow-wrap: break-word;
    word-wrap: normal;    font-size: 10pt;
    white-space: normal;">{{ app.title }}</span>
        <span style="display:block;    font-size: 10pt;color:gray;
">{{ app.platform }}</span>
      </div>
      </div>


    </ion-scroll>

      <hr style="     background-color: lightgray;
    margin-left: 20px;
    margin-bottom: 5px;
    border: none;
    height: 1px;">

      <ion-scroll delegate-handle="horizontal2" horizontal-scroll-fix="mainScroll" direction="x" class="wide-as-needed" scrollbar-x="false" style="padding-left:20px;    padding-top: 10px;">

      <div class="img grad-4" style="       display: inline-block;
    padding: 40px 30px;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;    vertical-align: top;

    letter-spacing: 3px;
    font-size: 23pt;font-family: 'Contrail One', cursive;

"><span>Finance Apps</span></div>
      <div class="img grad-5" style="       display: inline-block;
    padding: 40px 30px;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    letter-spacing: 3px;    vertical-align: top;

    margin-left:15px;
    font-family: 'Fascinate Inline', cursive;

    font-size: 23pt;
"><span>Games</span></div>
      </ion-scroll>

      <hr style="     background-color: lightgray;
    margin-left: 20px;
    margin-top: 15px;
        margin-bottom: 25px;
    border: none;
    height: 1px;">


      <div><h3 style="margin-left:20px;display:inline;">Trending</h3>
      </div>

      <ion-scroll  delegate-handle="horizontal3" horizontal-scroll-fix="mainScroll" direction="x" class="wide-as-needed" scrollbar-x="false" style="padding-left:20px;    padding-top: 10px;">
        <div style=" padding-bottom: 20px">
          <div style="display:inline-block;margin-right:20px;width:90px;vertical-align: top;" ng-repeat="app in row2_apps" >
            <img ng-src="img/{{app.id}}.png" width="100%" style="border-radius: 10px;width:90px;margin-top:10px;margin-bottom: 5px;">
            <span style="display:block;
    width: 90px;
    overflow-wrap: break-word;
    word-wrap: normal;    font-size: 10pt;
    white-space: normal;">{{ app.title }}</span>
            <span style="display:block;    font-size: 10pt;color:gray;
">{{ app.platform }}</span>
          </div>
        </div>


      </ion-scroll>

      <hr style="     background-color: lightgray;
    margin-left: 20px;
    margin-bottom: 25px;
    border: none;
    height: 1px;">

      <div><h3 style="margin-left:20px;display:inline;">New Releases</h3>
      </div>

      <ion-scroll delegate-handle="horizontal4" horizontal-scroll-fix="mainScroll" direction="x" class="wide-as-needed" scrollbar-x="false" style="padding-left:20px;    padding-top: 10px;">
        <div style=" padding-bottom: 20px">
          <div style="display:inline-block;margin-right:20px;width:90px;vertical-align: top;" ng-repeat="app in row3_apps" >
            <img ng-src="img/{{app.id}}.png" width="100%" style="border-radius: 10px;width:90px;margin-top:10px;margin-bottom: 5px;">
            <span style="display:block;
    width: 90px;
    overflow-wrap: break-word;
    word-wrap: normal;    font-size: 10pt;
    white-space: normal;">{{ app.title }}</span>
            <span style="display:block;    font-size: 10pt;color:gray;
">{{ app.platform }}</span>
          </div>
        </div>


      </ion-scroll>


    </div>
  </ion-content>
</ion-view>
