<ion-view view-title="My Software">
  <ion-content>

    <div class="list">


      <a class="item item-thumbnail-left item-button-right"  ng-repeat="installed_app in installed_apps">
        <img ng-src="img/{{installed_app.id}}.png" width="100%" style="    border-radius: 10px;">
        <h2><b>{{ installed_app.title }}</b></h2>
        <p>{{ installed_app.company }}</p>
        <button class="button  button-balanced" style="background-color:transparent; color:#e42112;top:30px;"
                ng-click="showConfirm(installed_app.title, 978.13)">
          <i class="icon ion-ios-close-outline"></i>
        </button>

      </a>

      <a class="item item-thumbnail-left item-button-right unpopped" ng-class="{ 'popped': showNewApp}">
        <img ng-src="img/{{new_app.id}}.png" width="100%" style="    border-radius: 10px;">
        <h2><b>{{ new_app.title }}</b></h2>
        <p>{{ new_app.company }}</p>
        <button class="button  button-balanced" style="background-color:transparent; color:#e42112;top:30px;" ng-click="showConfirm(new_app.title, 978.13)">
          <i class="icon ion-ios-close-outline"></i>
        </button>

      </a>

    </div>

  </ion-content>
</ion-view>
