/* Empty. Add your own CSS if you like */
.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}
.scroll {
  min-width: 100%;
}


.swiper-slide img{
  border-radius: 10px;
}

.item-avatar > img{
  border-radius:10px !important;
  /*max-height:64px !important;*/
  /*max-width:64px !important;*/
}
